<section class="container-fluid experience-section degradado-green escala-seccion" id="experience">
    <div class="row" data-aos="fade-up">
        <div class="col-md align-middle">
            <h2 class="titulo">EXPERIENCIA</h2>
        </div>
    </div>
  
    <div class="container-timeline">
        <!-- Linea vertical -->
        <div class="container__line-white" data-aos="fade-up" data-aos-duration="3000"></div>
  
        <!-- Contenedor de los elementos de la linea de tiempo -->
        <ul class="container__items">


            <li class="container__item">
                <!-- circulo y titulo -->
                <div class="container__top">
                    <!-- circulo -->
                    <div class="container__circle-white" data-aos="zoom-out-right"></div>
  
                    <!-- Título -->
                    <div class="container__title">
                        <img class="img-logos img-fluid img-thumbnail" src="../../../assets/img/logoSaroa.jpeg" alt="logo Teamco">
                        <h3> <a class="" target="_blank" href="https://saroa.co/">
                                SAROA SAS
                            </a></h3>
                            <p>Empresa de ingeniería de Software</p>
                        <h4>Desarrollador Junior </h4>
                    </div>
                </div>
  
                <!-- Descripción -->
                <div class="container__desc">
                    <p>Durante mi tiempo en SAROA SAS, adquirí experiencia en el desarrollo web utilizando el framework Django.
                    Me encargué de documentar, <br> debuggear y optimizar el código Python existente. Además, tuve la oportunidad
                    de trabajar en la mejora de componentes en Angular,<br> utilizando vistas modernas con Bootstrap y Angular Material.</p>
                    <p>05/02/2022 – 05/03/2023</p>
                </div>
            </li>
            <!-- Cada elemento de la linea de tiempo -->

            <li class="container__item">
                <!-- circulo y titulo -->
                <div class="container__top">
                    <!-- circulo -->
                    <div class="container__circle-white" data-aos="zoom-out-right"></div>
  
                    <!-- Título -->
                    <div class="container__title">
                        <img class="img-logos img-fluid img-thumbnail" src="../../../assets/img/logoTeam.jpeg" alt="logo Saroa" width="14%">
                        <h3> <a class="" target="_blank" href="https://teamco.com.co/es/">
                                Teamco Consulting SAS
                            </a></h3>
                            <p>Empresa de ingeniería en telecomunicaciones</p>
                        <h4>Asistente de Gerencia </h4>
                    </div>
                </div>
  
                <!-- Descripción -->
                <div class="container__desc">
                    <p>Actualmente desempeño labores administrativas y de Programación, logrando una transición al desarrollo de Software implementando un ERP para la compañía</p>
                    <p>05/02/2022 – 05/03/2023</p>
                </div>
            </li>

        </ul>
    </div>
  </section>
  
