
    
  #contact {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
    }

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../../../assets/img/fondo1.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(91, 197, 15, 0.9);
    font-family: Arial, sans-serif;
    color: #fff;
  }
  
   
    .form__title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fffdfd;
    }
    
    .form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    }
    
    .form__label {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffffff;
    }
    
    .form__input,
    .form__textarea {
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    outline: none;
    width: 100%;
    }
    
    
    
    .form__textarea {
    resize: none;
    }
    
    .form__button {
    background-color: var(--bg-color);
    color: #000000;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
    }
    
    .form__button:hover {
    background-color: #333;
    color: #ffffff;
    }
    
    /* Estilos para el pie de página */
  
    
    .footer__year,
    .footer__developer {
    font-size: 1.2rem;
    margin-bottom: 10px;
    }
    
    .footer__developer a {
    color: #fff;
    text-decoration: none;
    }
    
    .footer__developer a:hover {
    text-decoration: underline;
    }
