<footer class="container-fluid" id="contact">
    <div class="container">
      <form class="form" action="#" action="https://formsubmit.co/ntmbohorquez@gmail.com" method="POST">
        <h2 class="form__title">CONTACTAME</h2>
        <div class="form__group">
          <label for="nombre" class="form__label">Nombre</label>
          <input type="text" name="nombre" id="nombre" class="form__input" placeholder="Escribe tu nombre aquí..." required>
        </div>
        <div class="form__group">
          <label for="email" class="form__label">Correo electrónico</label>
          <input type="email" name="email" id="email" class="form__input" placeholder="Un correo electrónico para contactarte..." required>
        </div>
        <div class="form__group">
          <label for="mensaje" class="form__label">Mensaje</label>
          <textarea name="mensaje" id="mensaje" class="form__textarea" cols="30" rows="5" placeholder="Escribe tu mensaje aquí..." required></textarea>
        </div>
        <button type="submit" class="form__button">Enviar</button>
        <input type="hidden" name="_next" value="http://localhost:4200/">
        <input type="hidden" name="_captcha" value="false">
        <input type="hidden" name="_next" value="http://localhost:4200/#contact">
        
      </form>
  
  
        
        <p>Desarrollado por <a target="_blank" href="https://github.com/NtmNitram/">Martin Bohorquez</a></p>
        <p>2023</p>
    </div>
  </footer>
  
