<section class="container-fluid about-section degradado-green escala-seccion" id="about">
    <div class="row">

        <div class="col-md">
            <img data-aos="zoom-out-right" src="../../../assets/img/Perfil.png" class="img-fluid perfil" alt="foto de perfil">
        </div>
        <div class="tarjeta col-md ">
            <h2 class="titulo" > SOBRE MI</h2>
            <h3>Hola! soy Martin Bohorquez <br><br> <span class="fsdeveloper" data-aos="zoom-out-right">
                Frontend Developer Jr.</span></h3>
            <br>
            <p class="card-text">Tengo habilidades en tecnologías Frontend con
                HTML, CSS, TypeScript y POO,
                combinadas con conocimientos clave en Backend como
                Python, PHP, Mongodb, JAVA, AWS entre otros</p>
        </div>
    </div>
  </section>
  