<section class="container-fluid about-section degradado-green escala-seccion" id="about">
    <div class="row">

        <div class="col-md">
            <img data-aos="zoom-out-right" src="../../../assets/img/Perfil.png" class="img-fluid perfil" alt="foto de perfil">
        </div>
        <div class="tarjeta col-md ">
            <h2 class="titulo" > SOBRE MI</h2>
            <h3>Hola! soy Martin Bohorquez <br><br> <span class="fsdeveloper" data-aos="zoom-out-right">
                Frontend Developer Jr.</span></h3>
            <br>
            <p class="card-text">Poseo competencias en tecnologías Frontend, con experiencia en el
                manejo de HTML, CSS, TypeScript y programación orientada a objetos (POO). Adicionalmente,
                  cuento con conocimientos esenciales en el área de Backend, incluyendo habilidades en 
                  lenguajes como Python, PHP, Mongodb, JAVA, así como también en el uso de servicios
                  en la nube en Amazon Web Services (AWS) y otras tecnologías relevantes.</p>
        </div>
    </div>
  </section>
  