<section class="container-fluid educacion-section escala-seccion" id="education">

    <div class="row" data-aos="fade-up">
        <div class="col-md align-middle">
            <h2 class="titulo">EDUCACION</h2>
        </div>
    </div>
  
    <div class="container-timeline">
        <!-- Linea vertical -->
        <div class="container__line" data-aos="fade-up" data-aos-duration="3000"></div>
  
        <!-- Contenedor de los elementos de la linea de tiempo -->
        <ul class="container__items">
            <!-- Cada elemento de la linea de tiempo -->

            <li class="container__item">
                <!-- circulo y titulo -->
                <div class="container__top">
                  <!-- circulo -->
                  <div class="container__circle" data-aos="zoom-out-right"></div>
              
                  <!-- Título -->
                  <div class="container__title animate__animated animate__heartBeat">
                    <img class="img-logos img-fluid img-thumbnail" src="../../../assets/img/logoPoli.jpeg"
                      alt="logo Poli">
                    <h3>Politécnico Grancolombiano</h3>
              
                    <h4>Ingeniería de Software</h4>
                  </div>
              
                </div>
                <div class="container__desc">
                  <p>Actualidad</p>
                </div>
              </li>

        
            <li class="container__item">
                <!-- circulo y titulo -->
                <div class="container__top">
                    <!-- circulo -->
                    <div class="container__circle" data-aos="zoom-out-right"></div>
  
                    <!-- Título -->
                    <div class="container__title">
                        <img class="img-logos img-fluid img-thumbnail" src="assets/img/one-logo.jpg" alt="logo ONE">
                        <h3>
                                Oracle Next Education
                            </h3>
                        <h4>Jr. Developer</h4>
                    </div>
                </div>
  
                <!-- Descripción -->
                <div class="container__desc">
                    
                    <p>Mar 2023- Actual</p>
                </div>
            </li>

            <li class="container__item">
                <!-- circulo y titulo -->
                <div class="container__top">
                    <!-- circulo -->
                    <div class="container__circle" data-aos="zoom-out-right"></div>
  
                    <!-- Título -->
                    <div class="container__title">
                        <img class="img-logos img-fluid img-thumbnail" src="../../../assets/img/logoUcaldas.jpeg" alt="logo Caldas">
                        <h3> 
                                Universidad de Caldas
                            </h3>
  
                        <h4>Diplomado en Habilidades en
                            Programación con énfasis en aplicaciones WEB,(angular)</h4>
                    </div>
                </div>
  
                <!-- Descripción -->
                <div class="container__desc">
  
                    <p>Dic 2022 Titulado</p>
                </div>
            </li>


            <li class="container__item">
                <!-- circulo y titulo -->
                <div class="container__top">
                    <!-- circulo -->
                    <div class="container__circle" data-aos="zoom-out-right"></div>
  
                    <!-- Título -->
                    <div class="container__title">
                        <img class="img-logos img-fluid img-thumbnail" src="../../../assets/img/logoPlatzi.jpeg" alt="logo Platzi">
                        <h3> 
                                Platzi
                            </h3>
  
                        <h4>Angular Componentes y Servicios <br>
                            Fundamentos de Angular<br>
                            Flutter básico<br>
                            Algoritmos Y Pensamiento Lógico<br>
                            Introducción al Marketing Digital
                            </h4>
                    </div>
                </div>
  
                <!-- Descripción -->
                <div class="container__desc">
  
                    <p>Enero 2022 Certificado</p>
                </div>
            </li>



            <li class="container__item">
                <!-- circulo y titulo -->
                <div class="container__top">
                    <!-- circulo -->
                    <div class="container__circle" data-aos="zoom-out-right"></div>
  
                    <!-- Título -->
                    <div class="container__title">
                        <img class="img-logos img-fluid img-thumbnail" src="../../../assets/img/logoSENA.jpeg" alt="logo SENA">
                        <h3> 
                                SENA
                            </h3>
  
                        <h4>Aplicación de la
                            calidad del software en el proceso de desarrollo
                            
                            </h4>
                    </div>
                </div>
  
                <!-- Descripción -->
                <div class="container__desc">
  
                    <p>Dic 2021 Certificado</p>
                </div>
            </li>






        </ul>
    </div>
  
  </section>
  