<section id="skills" class="container-fluid  skills-section ">

    <div class="row" data-aos="fade-up">
        <div class="col-md">
            <h2 class="titulo">SKILLS</h2>
        </div>
    </div>
  
  
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="progress-title">ANGULAR</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:60%; background:#508AD3;">
                        <div class="progress-value"></div>
                    </div>
                </div>

                <h3 class="progress-title">HTML</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:65%; background:#508AD3;">
                        <div class="progress-value"></div>
                    </div>
                </div>

                <h3 class="progress-title">CSS</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:66%; background:#508AD3;">
                        <div class="progress-value"></div>
                    </div>
                </div>
                
                <h3 class="progress-title">TYPESCRIPT/JS</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:50%; background:#508AD3;">
                        <div class="progress-value"></div>
                    </div>
                </div>
  
                <h3 class="progress-title">BOOTSTRAP</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:450%; background:#508AD3;">
                        <div class="progress-value"></div>
                    </div>
                </div>
  
  
                <h3 class="progress-title">JAVA</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:40%; background:#508AD3;">
                        <div class="progress-value"></div>
                    </div>
                </div>

                <h3 class="progress-title">SQL</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:40%; background:#508AD3;">
                        <div class="progress-value"></div>
                    </div>
                </div>
  
                <h3 class="progress-title">PHYTON</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:60%; background:#508AD3;">
                        <div class="progress-value"></div>
                    </div>
                </div>
  
                <h3 class="progress-title">DJANGO</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:55%; background:#508AD3;">
                        <div class="progress-value"></div>
                    </div>
                </div>
  
                <h3 class="progress-title">GITHUB</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:70%; background:#508AD3;">
                        <div class="progress-value"></div>
                    </div>
                </div>
  
                <h3 class="progress-title">HABILIDADES BLANDAS</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:95%; background:#508AD3;">
                        <div class="progress-value"></div>
                    </div>
                </div>

            </div>
  

        </div>
    </div>
  
  </section>
  
